extends inc/layout.pug

block title
	title Herencia en PUG
block content
	h1 Herencia en PUG
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quia beatae impeditenim , alias obcaecati eos sapiente, asperiores voluptatibus perferendis. Perferendis libero, ut labore autem ducimus, fuga enim velit amet.
	