doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Reto PUG
		style(stylesheet).
			div {
				width: 500px;
				height: 40px;
				background-color: blue;
				margin-bottom: 2px;
				}

			.clase1{
			background-color: rgba(6,6,239,0.1);
			}
			.clase2{
			background-color: rgba(6,6,239,0.2);
			}
			.clase3{
			background-color: rgba(6,6,239,0.3);
			}
			.clase4{
			background-color: rgba(6,6,239,0.4);
			}
			.clase5{
			background-color: rgba(6,6,239,0.5);
			}
			.clase6{
			background-color: rgba(6,6,239,0.6);
			}
			.clase7{
			background-color: rgba(6,6,239,0.7);
			}
			.clase8{
			background-color: rgba(6,6,239,0.8);
			}
			.clase9{
			background-color: rgba(6,6,239);
			}
	      	
	body
		h1 Reto PUG
		div(class='clase1')
		div(class='clase2')
		div(class='clase3')
		div(class='clase4')
		div(class='clase5')
		div(class='clase6')
		div(class='clase7')
		div(class='clase8')
		div(class='clase9')