doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Atributos Variable
	body
		- var clases = ["rojo", "verde", "azul"];
		- var id = "principal01";
		- var nombre = "melida";
		- var href = "google"

		h1(id=id, class=clases) Atributos Variable
		div(id = nombre)
		a(href=href)