h1,h2{
			text-align: center;
			font-family: verdana;

		}
		p{
			width: 500px;
			text-shadow: 8px 8px 8px black;
		}
		div{
			width: 500px;
			margin: 0px auto;
		}
		body{
			background-image: url(imagen.jpg);
		}